.article {
    color: black;
    display:flex;
    justify-content:center;
    align-items:center;
}

#intro {
    font-size: 2em;
}

.contact {
    font-size:1em;
    border: 2px solid black;
}

.contact a {
    color:green;
}